body {
    background-color: #744246;
    color: #171734;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div#all {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

div#form {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: #f0f5f5;
    box-shadow: 8px 8px 0 #632c33;
    border: 1px solid #171734;
    border-radius: 3px;
    padding: 25px;
}

input, select {
    margin-bottom: 1em;
}

select, input[type="submit"] {
    width: 100%;
}

input[type="submit"] {
    background-color: #744246;
    color: #f0f5f5;
    padding: 7px;
    border: none;
}

hr {
    color: #171734;
    margin-left: 0;
    margin-right: 0;
}