body {
    background-color: #eceaea;
    color: #632c33;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

div#all {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

div#form {
    height: fit-content;
    background-color: #fafafa;
    box-shadow: 0 0 8px #e0caca;
    padding: 20px;
}

div#wynik {
    background-image: linear-gradient(to right, #c06d6d 1%, #e0caca 1%);
    width: 70vw;
    margin-top: 1em;
    padding: 0px 20px;
    line-height: 1em;
}

#string, #operacja {
    margin-bottom: 1em;
    width: 100%;
}

select {
    background-color: #e0caca;
    height: 2em;
    border: none;
}

input[type="submit"] {
    background-color: #c06d6d;
    border: none;
    margin-top: 1em;
    width: 100%;
    line-height: 2em;
}